<div class="row">
    <h1 id="educacion">Formación Academica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion1</h1> - <h3>(years)</h3></li>
            <p id="e1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion2</h1> - <h3>(years)</h3></li>
            <p id="e2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion3</h1> - <h3>(years)</h3></li>
            <p id="e3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>    
</div>
