<div class="row">
    <h1 id="Experiencia">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p id="DescripT1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p id="DescripT2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p id="DescripT3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate at iste nisi assumenda quo quia corporis modi nulla, sint soluta numquam exercitationem xpedita quisquam aliquid pariatur, dolore vel unde?</p>    
        </ul>
    </div>    
</div>
